@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif";
  font-display: swap;
  src: url("../fonts/PTSerif-Bold.woff") format("woff"), url("../fonts/PTSerif-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif";
  font-display: swap;
  src: url("../fonts/PTSerif-Regular.woff") format("woff"), url("../fonts/PTSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 10px;
}

._container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

._row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper {
  font-family: "Montserrat";
  letter-spacing: 1px;
  color: #646667;
  font-size: 1.4rem;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  padding: 0 32px;
  background-color: #d67b25;
  border: 2px solid #d67b25;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
}

.button:hover {
  background-color: #fff;
  color: #d67b25;
}

.heading {
  color: #3c3f3d;
  font-family: "PT Serif";
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.menu__item {
  margin-left: 3%;
  display: inline-block;
}

.menu__button {
  background-color: transparent;
  cursor: pointer;
}

.header__row {
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 172px;
          flex: 0 1 172px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
}

.menu__link {
  color: #646667;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3.333;
  text-transform: uppercase;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__location {
  vertical-align: middle;
  margin-left: 15px;
  width: 28px;
  height: 28px;
}

.main-screen {
  padding-bottom: 6%;
  text-align: center;
}

.main-screen__body {
  overflow: hidden;
  margin-bottom: 4%;
  position: relative;
}

.main-screen__body::after {
  content: "";
  position: absolute;
  top: -93px;
  left: -82px;
  width: 35%;
  height: 160%;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
  background: -o-linear-gradient(252deg, #d67b25 0%, rgba(0, 115, 151, 0) 100%);
  background: linear-gradient(198deg, #d67b25 0%, rgba(0, 115, 151, 0) 100%);
}

.main-screen__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-screen__title {
  position: relative;
  padding: 19% 0 8% 33.33%;
  text-align: left;
  z-index: 3;
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "PT Serif";
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.main-screen__text {
  color: #646667;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.8;
  max-width: 970px;
  margin: 0 auto 4%;
}

.relations {
  padding: 1% 0 7%;
}

.relations__title {
  margin-bottom: 3%;
}

.relations__text {
  color: #646667;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 4%;
  max-width: 670px;
}

.relations__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 -15px 3%;
}

.relations__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
  padding: 0 15px;
  margin-bottom: 12px;
}

.relations__item_big {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.relations__button {
  padding: 0 76px;
}

.item-relations {
  text-align: center;
}

.item-relations__value {
  color: #d67b25;
  font-family: "PT Serif";
  font-size: 5.4rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.item-relations__description {
  color: #646667;
  font-size: 1.6rem;
  line-height: 2;
  white-space: nowrap;
}

.news {
  padding: 1% 0 5%;
}

.news__heading-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3%;
}

.news__heading {
  margin-bottom: 15px;
}

.news__tab-button-item {
  background-color: #fff;
  color: #d3cfce;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
}

.news__tab-button-item + .news__tab-button-item {
  margin-left: 66px;
}

.news__tab-button-item.active {
  color: #d67b25;
}

.news__tab-content-item {
  display: none;
}

.news__tab-content-item.active {
  display: block;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}

.news__tab-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.news__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
  margin-bottom: 15px;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.item-news__header {
  position: relative;
  padding: 24px 30px 50px;
  margin-bottom: 32px;
  overflow: hidden;
  min-height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-news__header::after {
  content: "";
  position: absolute;
  top: -112px;
  left: -65px;
  width: 100%;
  height: 139%;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
  background: -o-linear-gradient(252deg, #d67b25 0%, rgba(0, 115, 151, 0) 100%);
  background: linear-gradient(198deg, #d67b25 0%, rgba(0, 115, 151, 0) 100%);
}

.item-news__label {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  line-height: 1;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-news__title {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.333;
  text-transform: uppercase;
}

.item-news__title:hover {
  text-decoration: underline;
}

.item-news__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.item-news__text {
  color: #646667;
  font-size: 1.6rem;
  line-height: 2;
  margin-bottom: 38px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-news__link {
  color: #d67b25;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
}

.item-news__link:hover {
  text-decoration: underline;
}

.map__body {
  padding-bottom: 38.25%;
  position: relative;
}

.map__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__row {
  padding: 2.8% 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #646667;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  white-space: nowrap;
  margin-right: 37px;
}

.footer__links li:last-child {
  margin-right: 0;
}

.footer__links li a {
  color: #646667;
}

.footer__links li a:hover {
  text-decoration: underline;
}

@media (min-width: 2560px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 992px) {
  .relations__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .relations__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.333%;
            flex: 1 1 33.333%;
  }

  .news__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 900px) {
  .menu__link {
    color: #ff9800;
    font-size: 2rem;
  }

  .menu__item {
    display: block;
    margin: 0;
  }

  .menu__list {
    background-color: #000000b7;
    text-align: center;
    padding: 80px 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility: hidden;
    top: -100%;
    right: 0;
    overflow: auto;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }

  .menu__list_open {
    visibility: visible;
    top: 0;
  }

  .menu__button {
    position: absolute;
    top: 36px;
    right: 30px;
    width: 26px;
    height: 26px;
    z-index: 11;
  }

  .menu__button span {
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #d67b25;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }

  .menu__button span::before,
  .menu__button span::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d67b25;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }

  .menu__button span::before {
    top: -8px;
  }

  .menu__button span::after {
    top: 8px;
  }

  .menu__button_open span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__button_open span::before {
    top: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }

  .menu__button_open span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 7px;
  }

  .main-screen__title {
    padding: 25% 0 8%;
    text-align: center;
  }

  .relations__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .relations__item_big {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .news__heading-row {
    display: block;
  }

  .item-news__header {
    min-height: 300px;
  }
}

@media (max-width: 500px) {
  .news__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 414px) {
  html {
    font-size: 6px;
  }

  .button {
    height: 40px;
  }

  .main-screen__body::after {
    display: none;
  }

  .news__tab-button-item {
    font-size: 2rem;
  }

  .news__tab-button-item + .news__tab-button-item {
    margin-left: 40px;
  }

  .map__body {
    padding-bottom: 50%;
  }

  .footer__links li {
    margin-right: 15px;
  }
}